* {
    margin:0px;
    padding: 0px;
}
body, #root, .App {
    height: 100%;
}
.App {
    height: 100%;
    margin: 120px 24px;
}
.searchbar, .searchItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    width: 30px;
    height: 30px;
}
.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
h1 {
    font-size: 15px;
}
.skillbox {
    background-color: burlywood;
    display: flex;
    align-items: center;
    gap: 5px;
}
.skillbox span {
    border: 2px yellow solid;
}
